<div class="">
  <header>
    <h2>Angular sentry</h2>
  </header>

 <ul class="center list-group" [ngStyle]="{ 'color': color}" (click)="this.changeColor()">
    <li class="list-group-item list-group-item-danger">
      <h2>Errors</h2>
    </li>

    <li class="list-group-item" (click)="this.notAFunction()">
      <h2>Type Error</h2>
      <p>obj.attributeInvalid is not a function</p>
    </li>

    <li class="list-group-item" (click)="this.uriError()">
      <h2>URIError</h2>
      <p>URI Error</p>
    </li>

    <li class="list-group-item" (click)="this.syntaxError()">
      <h2>SyntaxError</h2>
      <p>Unexpected identifier</p>
    </li>
 </ul>
</div>


